<div class="container,col-sm"
[ngClass]="{'container-user1': (utilisateur === 'User 1'), 'container-user2': (utilisateur !== 'User 2')}">
  <div class="user-box ">
    <h4 class='user'>
      {{utilisateur}}
    </h4>
  </div>
  <div *ngIf="messages" class="messages-box">
    <ul class="all-messages">
      <li class="message"
        *ngFor="let message of messages"
          [ngClass]="{'sender': (utilisateur === message.writer), 'receiver': (utilisateur !==  message.writer)}">
        <span class="text">
          {{message.text}}
        </span>
      </li>
    </ul>
  </div>
  <div class="input-container">
      <textarea #text class="text-input" [placeholder]="'Message...'" (keydown)="sendWithEnter($event, text.value)" [(ngModel)]="textInput" ></textarea>
      <div class="text-send" (click)="clickSendButton(text.value)">
      </div>
  </div>

</div>
